@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Inter:wght@400;600;700;800;900&family=Manrope:wght@500;700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,800&family=Mulish:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* ---------shared style--------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.para-primary {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */

}

.btn-primary {
    background: #FFF;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.title-primary {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

/* ---------banner style-------- */
.banner {
    background-image: url(../images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 60px 135px 100px 135px;
}

.banner-text {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 106px;
    margin-bottom: 106px;
}

.h3-header {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;

}

.para-header {
    padding: 24px 247px 48px 247px;

}

.time-date {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    margin: 48px 147px 106px;

}

.options {
    display: flex;
    gap: 24px;
    padding: 16px;
}

.time-for-travel {
    width: 174px;
    height: 52px;
}

/* -------- Our popular tour section----- */
.popular-container {
    display: flex;
    margin: 100px 135px;
    gap: 50px;

}

.popular-container ul {
    margin-left: 30px;
}


.popular-para {
    color: rgba(19, 19, 24, 0.70);
    margin-top: 16px;
}

.rules {
    color: #5A5A5D;
    margin-top: 24px;
    margin-bottom: 32px;
}

.read-btn {
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

/*--------- destination section--------- */

.destination-title {
    text-align: center;
}

.destination-para {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: 24px;
}

.select-places {
    margin-left: 90px;
    margin-top: 48px;
}

.destination-images {
    gap: 24px;
    border-radius: 16px;
}

.images {
    position: relative;

}

h2 {
    text-align: center;
    position: absolute;
    top: 120px;
    left: 170px;
}

/* --------why choose us section-------- */
.why-us {
    margin-top: 100px;
}

.hotels-header {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 32px;
    padding-right: 305px;
    padding-bottom: 16px;
}

.hotels-para {
    color: #5A5A5D;
    width: 486px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-left: 32px;
    padding-right: 55px;
    padding-bottom: 32px;
}

.hotel {
    width: 573px;
    height: 284px;
    border-radius: 16px;
}

.hotels-img {
    width: 64px;
    height: 64px;
    padding: 32px 477px 32px 32px;
}

.choose-us-content {
    text-align: center;
}

.choose-us-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 643px;
    margin-top: 24px;
    margin-left: 398px;
    margin-right: 399px;
}

.hotel-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-bottom: 24px;
}

.hotel-3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 420px;
    margin-right: 434px;
}

.hotels-hotels {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-left: 135px;
    margin-right: 135px;
}

/* --------newsletter section--------- */
.newsletter {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-top: 100px;
}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 40px 300px 16px 40px;
}

.newsletter-para {
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 84px 24px 40px;
}

.line-2 {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 24px 40px;
}

.newsletter-input {
    width: 393px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    margin-right: 41px;
    margin-left: 40px;
}

.email {
    margin-bottom: 10px;
}

.submit {
    background: #FF5400;
    border-radius: 8px;
    margin-bottom: 40px;
    color: #FFF;

}

.newsletter-img {
    width: 672px;
    height: 422px;
   margin-top: 100px;
}

.newsletter-and-img {
    display: flex;
    gap: 24px;
    margin-left: 135px;
    margin-right: 135px;
}

/* ---------footer--------- */
footer {
    background: rgba(19, 19, 24, 0.05);

    height: 502px;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 100px;


}

.para-footer {
    color: #5A5A5D;
    text-align: center;
    margin-top: 15px;
    margin-left: 335px;
    margin-right: 335px;
}

.social-media-links {
    text-align: center;
    margin-top: 32px;
    gap: 20px;
}

.line {
    width: 800px;
    background: rgba(19, 19, 24, 0.10);
    margin: 50px 342px;
}

.footer-last {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}


@media screen and (max-width:600px) {
    header {
        margin: 32px 20px 24px;
    }

    .banner {
        width: 335px;
        height: 483px;
        margin: 24px 20px;
    }

    .h3-header {
        font-size: 22px;
        padding-top: 32px;
    }

    .para-header {
        font-size: 14px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        margin: 0;
        padding: 15px 16px;
    }

    .time-date {
        margin: 0;
        width: 287px;
    }

    .options {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .popular-container {
        flex-direction: column;
        margin: 24px 20px;
    }

    .popular-container-text {
        margin: 16px 20px;
    }

    .popular-container ul {
        margin-left: 15px;
    }

    .popular-para {
        width: 335px;
    }

    .title-primary {
        font-size: 20px;
    }

    .mountain-image {
        width: 335px;
        height: 342px;
        display: flex;
        flex-direction: column;
        margin: 24px 20px;
    }

    .destination-title {
        text-align: center;
        font-size: 20px;
        margin: 24px 64px 16px;
    }

    .destination-para,
    .choose-us-para {
        width: 309px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        margin: 16px 33px;
    }

    .select-places {
        margin: 20px;
    }

    .nice-images {
        width: 335px;
        height: 176px;
        margin: 16px 20px;
    }

    .choose-us-header {
        margin: 24px 110px 16px;
    }

    .hotels-hotels {
        flex-direction: column;
        margin: 16px 20px;
    }

    .hotel {
        width: 335px;
        height: 289px;

    }

    .hotels-header {
        padding: 16px 16px 16px 30px;
    }

    .hotels-para {
        width: 271px;
    }

    .hotels-img {
        width: 48px;
        height: 48px;
        padding-top: 32px;
        margin-right: 255px;
        margin-left: 32px;
    }

    .hotel-1,
    .hotel-2,
    .hotel-3 {
        margin: 16px 20px;
    }

    .footer {
        width: 375px;
        height: 309px;
    }

    .footer-content {
        margin: 32px 105px 16px 105px;
        gap: 5px;
    }

    .footer-icon {
        width: 28.724px;
        height: 33.516px;
    }

    .para-footer {
        width: 287px;
        margin: 16px 44px;
    }

    .social-media-links {
        margin: 16px 100px 24px;
    }

    .line {
        width: 335px;
        height: 1px;
        margin: 24px 20px;
    }

    .footer-last {
        margin: 24px 104px 32px;
    }
}